* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: black;
}

header {
  text-align: center;
  padding: 15px;
  height: 15vh;
  border-bottom: 2px solid rgb(184, 184, 184);
  width: 80%;
  margin: auto;
  color: white;
}

h4 {
  font-size: 20px;
  margin-top: 20px;
  color: yellow;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.container {
  width: 310px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: black;
  height: 310px;
  margin-top: 20px;
  border-radius: 20px;
}

p {
  margin: 10px 0;
  color: white;
}

main h1 {
  color: white;
}

.startBtn {
  outline: none;
  margin-bottom: 10px;
  background: none;
  color: aqua;
  border: 2px solid aqua;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 0 10px 0 10px;
  transition: 0.5s ease;
}

.startBtn:hover {
  background-color: aqua;
  color: white;
}

.box {
  border: 1px solid rgb(186, 186, 186);
  pointer-events: none;
  transition: background-color 0.5s ease;
  margin: 5px;
  border-radius: 5px;
  background-color: grey;
}

.box:hover {
  transition: background-color 0.5s ease;
}

.box:active {
  background-color: aqua !important;
}
